<div class="container-fluid">
	<div class="row mt-2">
		<div class="col mb-2 ml-2">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Property Purpose</h5>
					<div id="chartContainer" class="w-100" style="height: 300px;"></div>
				</div>
			</div>
		</div>
		<div class="col mb-2">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Property Types</h5>
					<div id="chartContainer1" class="w-100" style="height: 300px;"></div>
				</div>
			</div>
		</div>
		<div class="w-100"></div>
		<div class="col mb-2">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Monthly Property Data</h5>
					<div id="users-state-bar-chart" class="w-100" style="height: 300px;"></div>
				</div>
			</div>
		</div>
    <div class="col mb-2">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Property Status</h5>
					<div id="chartContainer3" class="w-100" style="height: 300px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>