<div class="container">
	<div class="row">
		<div class="col">
			<div class="card mt-4">
				<div class="card-header bg-primary text-white">Register Property</div>
				<div class="card-body">
					<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
						<div class="form-group">
							<label for="Name">Property Name</label>
							<input type="text" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
							<div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
								<div *ngIf="f.Name.errors.required">Property Name is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="Description">Last Name</label>
							<input type="text" formControlName="Description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Description.errors }" />
							<div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
								<div *ngIf="f.Description.errors.required">Description is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="No_Of_BedRooms">No. of BedRooms</label>
							<input type="number" formControlName="No_Of_BedRooms" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.No_Of_BedRooms.errors }" />
							<div *ngIf="submitted && f.No_Of_BedRooms.errors" class="invalid-feedback">
								<div *ngIf="f.No_Of_BedRooms.errors.required">No. of BedRooms is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="No_Of_BathRooms">No. of BathRooms</label>
							<input type="number" formControlName="No_Of_BathRooms" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.No_Of_BathRooms.errors }" />
							<div *ngIf="submitted && f.No_Of_BathRooms.errors" class="invalid-feedback">
								<div *ngIf="f.No_Of_BathRooms.errors.required">No. of BathRooms is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="No_Of_Floors">No. of Floors</label>
							<input type="number" formControlName="No_Of_Floors" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.No_Of_Floors.errors }" />
							<div *ngIf="submitted && f.No_Of_Floors.errors" class="invalid-feedback">
								<div *ngIf="f.No_Of_Floors.errors.required">No. of Floors is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="Country">Country</label>
							<select formControlName="Country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Country.errors }">
               <option *ngFor="let country of countries" value={{country.Country_ID}}>{{country.Name}}</option>
              </select>

							<div *ngIf="submitted && f.Country.errors" class="invalid-feedback">
								<div *ngIf="f.Country.errors.required">Country is required</div>
							</div>
						</div>
            <div class="form-group">
							<label for="State">State</label>
							<select formControlName="State" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.State.errors }">
               <option *ngFor="let country of countries" value={{country.Country_ID}}>{{country.Name}}</option>
              </select>

							<div *ngIf="submitted && f.State.errors" class="invalid-feedback">
								<div *ngIf="f.State.errors.required">State is required</div>
							</div>
						</div>
            <div class="form-group">
							<label for="City">City</label>
							<select formControlName="City" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.City.errors }">
               <option *ngFor="let country of countries" value={{country.Country_ID}}>{{country.Name}}</option>
              </select>

							<div *ngIf="submitted && f.City.errors" class="invalid-feedback">
								<div *ngIf="f.City.errors.required">City is required</div>
							</div>
						</div>
            <div class="form-group">
							<label for="Property_Type">Property Type</label>
							<select formControlName="Property_Type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Property_Type.errors }">
               <option *ngFor="let country of countries" value={{country.Country_ID}}>{{country.Name}}</option>
              </select>

							<div *ngIf="submitted && f.Property_Type.errors" class="invalid-feedback">
								<div *ngIf="f.Property_Type.errors.required">Property Type is required</div>
							</div>
						</div>
            <div class="form-group">
							<label for="Property_Status">Property St</label>
							<select formControlName="Property_Status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Property_Status.errors }">
               <option *ngFor="let country of countries" value={{country.Country_ID}}>{{country.Name}}</option>
              </select>

							<div *ngIf="submitted && f.Property_Status.errors" class="invalid-feedback">
								<div *ngIf="f.Property_Status.errors.required">Property Status is required</div>
							</div>
						</div>
						<div class="form-group">
							<button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
        </button>
							<a routerLink="/home" class="btn btn-link">Cancel</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>