<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">{{property.Name}}
			<a class="float-right btn btn-outline-primary ml-2"
				[routerLink]="['/registerproperty',property.ID]" (click)="">Like</a>
			<a *ngIf="currentuser == property.UserCreatedBy" class="float-right btn btn-outline-primary"
				[routerLink]="['/registerproperty',property.ID]">Edit</a>
		</h5>
		<p class="card-text">{{property.Description}}</p>
		<p class="card-text">{{property.Address}}</p>
		<table class="table table-bordered">
			<tr>
				<td>No. of Living Room</td>
				<td>{{property.No_Of_LivingRooms}}</td>
			</tr>
			<tr>
				<td>No. of Bed Room</td>
				<td>{{property.No_Of_BedRooms}}</td>
			</tr>
			<tr>
				<td>No. of Floors</td>
				<td>{{property.No_Of_Floors}}</td>
			</tr>
			<tr>
				<td>Available for</td>
				<td>{{property.Property_Purpose.Name}}</td>
			</tr>
		</table>
	</div>
</div>