.card-title {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 300;
}
.card, .card-footer {
    background-color: inherit;
    border: none;
}
.card-block {
    padding: 1.25rem;
}